  <div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-primary text-decoration-none fs-1">
            <img src="/img/pexels-anna-nekrashevich-8534461.png" alt="Image of Notes" width="50" height="50" class="me-2">
            Note Taking App
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/dashboard" class="nav-link px-2">Dashboard</a></li>
      </ul>
      <div class="col-md-3 text-end">
        <a href="/login" class="btn btn-primary me-2">Login</a>
        <a href="/register" class="btn btn-primary me-2">Sign-up</a>
      </div>
    </header>
  </div>