  <div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-primary text-decoration-none fs-1">
            <img src="/img/pexels-anna-nekrashevich-8534461.png" alt="Image of Notes" width="50" height="50" class="me-2">
            Note Taking App
        </a>
      </div>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="POST" action="/dashboard/search">
        <input type="search" name="searchTerm" class="form-control form-control text-bg" placeholder="Search..." aria-label="Search">
      </form>
      <div class="col-md-3 text-end">
        <a href= "/logout"typre"button" class="btn btn-primary">Logout</a>
        </form>
      </div>
    </header>
  </div>