<div class="container-fluid container-fluid-fitnote py-md-5 mb-5">
  <main>
    <div class = "mb-10">
    <div class="row py-md-5 text-center justify-content-center">
      <figure>
        <img
          src="/img/404.png"
          alt="Hand holding a note"
          width="500"
          height="400"
        />
      </figure>
      <h1 class="mb-6 mt-4">404 - Page Not Found</h1>
    </div>
    <div class="text-center justify-content-center">
      <a href="/" class="btn btn-secondary btn-create btn-lg">Return to App</a>
    </div>
  </main>
  </div>  
</div>
