<div class="container-fluid py-md-5 mb-5">
  <div class="container-fluid-fitnote">
  <main>
    <div class = "mb-10">
    <div class="row py-md-5 text-center justify-content-center">
      <figure>
        <img
          src="../public/img/404.png"
          alt="Hand holding a note"
          width="500"
          height="400"
        />
      </figure>
      <h1><%= info.title %></h1>
      <p><%= info.description %></p>
    </div>
    <div class="text-center justify-content-center">
      <a href="/" class="btn btn-secondary btn-create btn-lg">Return to App</a>
    </div>
  </main>
  </div>  
</div>
</div> 