<div class="container-fluid  py-md-5 mb-5">
  <div class="container-fluid-fitnote">
  <main>
    <div class = "mb-10">
    <div class="row py-md-5 text-center justify-content-center">
      <figure>
        <img
          src="img/pexels-cottonbro-4066295.png"
          alt="Hand holding a note"
          width="500"
          height="400"
        />
      </figure>
      <h1 class="mb-6 mt-4">Take a Note!</h1>
      <p class="mb-6 mt-4">Stay organized with this easy to use note taking app.</p>
    </div>
    <div class="text-center justify-content-center">
      <a href="/login" class="btn btn-secondary btn-create btn-lg">Start Now!</a>
    </div>
  </main>
  </div>  
</div>
</div>
