<div class = "container-fluid container-fluid-fitnote">
    <div class="container">
      <h1>Login</h1>
      <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" /><br /><br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" /><br /><br />
        <input type="submit" value="Login" />
      </form>

      <p>Or login with Google:</p>
      <a href="/auth/google" class="google-btn"> Login with Google </a>

      <p>Don't have an account? <a href="/register">Register</a></p>

      <p id="error-message" class="error" style="display: none"></p>
    </div>
</div>

